.form-control {
  height: 50px !important;
}

.form label {
  font-weight: 600;
}

.loginDiv {
  margin-top: 120px;
}

.btn {
  padding: 10px 20px !important;
}

.link {
  color: #3d58c3;
  cursor: pointer;

  &:hover {
    color: #0a2bb7;
  }
}

.loginSubDiv {
  font-weight: 700;
  font-size: 18px;
}

.passwordLabelDiv {
  display: flex;
  justify-content: space-between;
}

.rightDiv {
  display: flex;
  justify-content: center;
}

