.userPicture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.actionIcon {
  cursor: pointer;
}

textarea.form-control {
  height: 150px !important;
}

.widgetDiv {
  position: fixed;
}

.nav-item {
  cursor: pointer;
}
